<nav>
    <a class='{% if request.path == '/' %} active {% endif %}' href="/" >Home</a>
    <a class='{% if request.path == '/about' %}active{% endif %}' href="/about/">About</a>
    <a class='{% if request.path == '/service' %}active{% endif %}' href="/service/">Services</a>
    <a class='{% if request.path == '/protfolio' %}active{% endif %}' href="/protfolio/">Portfolio</a>
    <a class='{% if request.path == '/contact' %}active{% endif %}' href="/contact/">Contact</a>
    <a class='{% if request.path == '/form' %}active{% endif %}' href="/form/" >Form</a>
</nav>