<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Our Portfolio</h1>
        {% include "header.html" %}
    </header>
    <main class='middle'>
        <p >Gallery of work or portfolio items are displayed here.</p>
    </main>
    {% include "fotter.html" %}
</body>
</body>
</html>